<!-- templates/login.html -->
{% extends 'layout.html' %}

<!-- templates/login.html -->
{% block content %}
<div class="login-container">
    <h2>Login</h2>
    <form method="post" action="/login">
        <input type="text" name="username_or_email" placeholder="Username or Email">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>
    <p>Or <a href="{{ url_for('register') }}">register here</a>.</p>
</div>
{% endblock %}

